/* color reference codes
   --white: #EEEEEE;
    --black: #222831
    --lightblack: #393E46;
    --orange: #D65A31;
    paleta de color https://colorhunt.co/palette/222831393e46d65a31eeeeee   
    terminacion mp es para mainpage ex. formmp
    logo arriba abajo texto, titulo en monserrat/bold, plogo y texto mas junto
    rectangulo a menos de 35red
    loginux-dribble

*/

                                                               /*HOME CSS*/
   html
   {
    display:-ms-flexbox;
    font-size: 100%;

   }

   .header
   {
    display:-ms-flexbox;
    color: white;
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
   }


   body
   {  
       display:-ms-flexbox;
       font-size: 25px;
       font-family: 'Montserrat', sans-serif;
       margin-top:20px;
background-image: url(img/y-so-serious.png);


      /* background:#393E46;*/

   }

.logohome
{
    display:-ms-flexbox;
    padding-top: 60px;
    padding-bottom: 15px;
    display: block;
    margin: auto;
    border-radius: 10px;
    

}

.formuser
{   
    display:-ms-flexbox;
    padding: 7px;
    border-radius: 8px;
    background: #3a3a3a;
    color: #EEEEEE;


}

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
    .formpassword
{   
    display:-ms-flexbox;
    padding: 7px;
    border-radius: 8px;
    background: #3a3a3a;
}
    .passwordcontainer
{
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 0;
    outline: none;
    color: #333;
    align-items: center;
}
    i
{
    margin: 0 10px;
    color: #aaa;
    cursor: default;
}



.centerform
{
    text-align: center;
    display:-ms-flexbox;
    padding: 30px;
    padding-top: 30px;

}


.enterbut {
    display:-ms-flexbox;
    border: none;
    color:#EEEEEE;
    background-color: #D65A31;
    padding-top: 0px;
    padding: 8px 16px;
    text-align: center;
    font-size: 1rem;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 5px 7px 9px #222831;
  }

 .clock {
    display:-ms-flexbox;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #EEEEEE;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.footerhome
{
    display:-ms-flexbox;
    color: #EEEEEE;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.footerhome2
{
    display:-ms-flexbox;
    color: #EEEEEE;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;

    font-weight: bolder;
}
.footerhome3
{
    display:-ms-flexbox;
    color: #EEEEEE;
    font-size: .5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: lighter;
}

/*showpassword*/
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}








                                                            /*MAINPAGE CSS*/
   .columnleft
    {
    display:-moz-box;
    float: left;
    width: 10%;
    padding: 0px;
    background: #222831;
    border-radius: 5px;
  }
  .columnright
  {
  display:-moz-box;
  float: left;
  width: 90%;
  padding: 0px 0px auto 0px;
  background: #393E46;
  border-radius: 5px;
  padding-bottom: 10px;
  
}

.containerbox
{
    display:-moz-box;
    float: left;
    width:auto;
    padding: 0px 0px auto 0px;
    background: #d3d3d3;
    border-radius: 5px;
    width: 89%;
    height: 550px;
    overflow:auto;
    padding-left: 5px;
}

.mediafile
{    display:-ms-flexbox;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    width: 151px;
    height: 160px;
    background-color: #D65A31;
  
}

.fileindividualtext
{

    background-color: #aaa;
    color: #D65A31;
}

.column
{
    display: -ms-grid;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 0px;
    padding-right: 1px;
}


.logohomemain
{
    display:-ms-flexbox;
    padding-top: 60px;
    padding-bottom: 15px;
    display: block;
    margin: auto;
    border-radius: 10px;
    

}

   .headermain
   {
    display:-ms-flexbox;
    color: white;
    font-size: 1.25rem;
    font-weight: lighter;
    text-align:center;
padding-top: 25px;
    font-family: 'Montserrat', sans-serif;
   }


.leftbox
   {
    display:-ms-flexbox;
    color: white;
    font-size: .85rem;
    font-weight: lighter;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
  }

  .rightboxtext
  {
    display:-ms-flexbox;
    color: white;
    font-size: .85rem;
    font-weight: lighter;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
  }

  .searchbar
  {
    display:-ms-flexbox;
      width: 500px;
      border-radius: 5px;
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      background: #ffffff;

  }
    .searchbut
    {
        display:-ms-flexbox;   

    }

  .searchbarmain
  {
    display:-ms-flexbox;
    padding-left: px;
    padding-top: 5px;
  }

  .supercolumnright
  {
      display:-ms-flexbox;
      padding-left: 15px;
  }

  .image-upload>input {
    cursor: pointer;
    color: green;

  }

  .viewbuttons
{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*container*/

.glyphicon 
{
    display: -ms-flexbox;
    margin-right:5px;
}
.thumbnail
{
    display:-ms-flexbox;
    margin-bottom: 0px;
    padding-top: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    display:-ms-flexbox;
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 0px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    display:-ms-flexbox;
    background: #aed9ff;
}

.item.list-group-item .list-group-image
{
    margin-right:0px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    display:-ms-flexbox;
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}


.group-inner-list-group-item-text
{
    color: rgb(0, 17, 255);
    text-align:center;

}



/*uploadbutton*/
label {
    background-color: rgb(104, 213, 113);
    color: rgb(25, 140, 8);
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  #file-chosen{
    margin-left: 0.3rem;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
  }